<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ComfortMail" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="container header-margin">
      <nav>
        <a href="/">
          <img class="header-logo" phx-track-static src={Routes.static_path(@conn, "/images/logo/logo-vertical.svg")} />
        </a>
        <div>
          <a href="/">Home</a>
          <span>|</span>
          <%= link "Quick start", to: "#{Routes.page_path(@conn, :documentation)}#quick-start" %>
          <span>|</span>
          <%= link "Documentation", to: Routes.page_path(@conn, :documentation) %>
          <span>|</span>
          <%= link "Register", to: Routes.index_register_path(@conn, :register), class: "button" %>
        </div>
      </nav>
    </header>
    
    <%= @inner_content %>

    <footer class="container">
      <div class="footer-right">
        <span>More projects from us:</span>
        <a href="#">IT Comfort Systems</a>
      </div>
      <a href="/">
        <img class="footer-logo" phx-track-static src={Routes.static_path(@conn, "/images/logo/logo-only.svg")} />
      </a>
      <div class="footer-right">
        <a href="#">Datenschutzerklärung</a>
        <a href="#">Allgemeine Geschäftsbedingungen</a>
        <a href="#">Imprint/Impressum</a>
      </div>

    </footer>
  </body>
</html>
