<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "ComfortMail" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="container header-margin">
      <nav>
        <span>logo</span>
        <div>
          <a href="#">How IT works</a>
          <span>|</span>
          <a href="#">Register</a>
        </div>
      </nav>
    </header>
    
    <%= @inner_content %>

    <footer class="container">
      <div></div>
      <span class="footer-logo">logo</span>
      <div class="footer-right">
        <a href="#">Datenschutzerklärung</a>
        <a href="#">Allgemeine Geschäftsbedingungen</a>
        <a href="#">Impressum</a>
      </div>

    </footer>
  </body>
</html>
