<h1>Register</h1>
<p>
    To register you have to input your email below. We don't need further information, as this is a free service.
    Once you click on the register button, you will receive an email, with a link to activate your account.
</p>

<.live_component
    module={ComfortMailWeb.IndexLive.RegisterForm}
    id={:new}
    contact={@contact}
/>

<h2>Pricing</h2>
<p>
    The service gets provided free of charge.

</p>