<div>
  <.form
    let={f}
    for={@changeset}
    id="contact-register-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="register"
  >
    <%= label f, :email %>
    <%= email_input f, :email, placeholder: "john@doe.com" %>
    <%= error_tag f, :email %>

    <%= submit "Register", phx_disable_with: "Register..." %>


  </.form>
</div>